.page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.metadata-container {
  margin-inline: 2rem;
}

.header {
  margin: auto
}

.table-container {
  width: 50%;
  margin: auto;
}

.chart-container {
  margin: 4rem auto;
}

/* overrides */
.MuiStack-root{
  align-items: flex-start;
}

.css-blxj8-MuiPaper-root-MuiAppBar-root {
  color: black;
  background-color: #ffffff !important;
}